$borderColor: #009688;
.tch{
	width:100%;
	min-height: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tch > div {
	flex: 1 1 auto;
}

label.lstyle{
	padding-left:20px;
}

h3.fstyle{
	display:inline-block;
	margin:0px;
	padding:0px;
	padding-left: 10px;
}

input.istyle{
	display:inline-block;
}