$borderColor: #BBDEFB;
$bgColor: #42A5F5;

.button {
	margin:5px;
	background: $bgColor;
	border-radius:20px;
	text-align: center;
	cursor:pointer;
	
	height:100%;
	min-width: 50px;
}

.button:hover{
	background-color: $borderColor;
}

h1.btn{
	display: inline;
	padding:0px;
	margin:0px;
}

i.btn{
	padding:0px;
	margin:0px;
	display:inline-block;
}

h4.tstyle{
	display:inline-block;
}